{% extends "ShowMydeskBundle::error.html.twig" %}
{% block content %}
    <!-- Section: intro -->
    <section id="intro" class="intro">
        <div class="slogan">
            <h2>UPS ! Something goes wrong</h2>
            <h4>Go back to main site</h4>
        </div>
        <div class="page-scroll">
            <a href="http://showmydesk/" class="btn btn-circle">
                <i class="fa fa-angle-double-down animated"></i>
            </a>
        </div>
    </section>
    <!-- /Section: intro -->
{% endblock %}
