<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Symfony2 Dev</title>
    <!-- Bootstrap Core CSS -->
    <link href="{{ asset('bundles/showmydesk/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
    <!-- Fonts -->
    <link href="{{ asset('bundles/showmydesk/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('bundles/showmydesk/css/animate.css') }}" rel="stylesheet" />
    <!-- Squad theme CSS -->
    <link href="{{ asset('bundles/showmydesk/css/error_style.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/showmydesk/color/default.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/showmydesk/css/shadowbox.css') }}" rel="stylesheet" type="text/css">
    <!-- Core JavaScript Files -->
    <script src="{{ asset('bundles/showmydesk/js/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/showmydesk/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/showmydesk/js/jquery.easing.min.js') }}"></script>
    <script src="{{ asset('bundles/showmydesk/js/jquery.scrollTo.js') }}"></script>
    <script src="{{ asset('bundles/showmydesk/js/wow.min.js') }}"></script>
    <!-- Custom Theme JavaScript -->
    <script src="{{ asset('bundles/showmydesk/js/custom.js') }}"></script>
    <script src="{{ asset('bundles/showmydesk/js/shadowbox.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        $( document ).ready(function() {
            Shadowbox.init({
                        displayCounter: true,
                        enableKeys: true,
                        displayNav: true,
                        animate: true
                    }
            );
        });
    </script>
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-custom">
<!-- Preloader -->
<div id="preloader">
    <div id="load"></div>
</div>

<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="http://showmydesk/">
                <h1>SHOWMYDESK</h1>
            </a>
        </div>
    </div>
    <!-- /.container -->
</nav>
{% block content %}
{% endblock %}
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="wow shake" data-wow-delay="0.4s">
                    <div class="page-scroll marginbot-30">
                        <a href="http://showmydesk/" id="totop" class="btn btn-circle">
                            <i class="fa fa-angle-double-up animated"></i>
                        </a>
                    </div>
                </div>
                <p>&copy;Copyright 2014 - ShowMyDesk. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>
</body>
</html>